@import 'src/assets/settings/colors';

.expansion-panel {
  position: fixed;
  top: 7px;
  right: 3%;
  width: 300px;
  &__title {
  }
  &__descr {
    position: relative;
    color: $black;
    &-title {
    }
  }
  &__icon {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 16px;
    &-weather {
      position: absolute;
      right: -5px;
      top: 2px;
      width: 16px;
    }
  }
  &__photo {
    margin-bottom: 10px;
    width: 250px;
  }
  &__sub-icon {
    position: absolute;
    top: 9%;
    width: 16px;
  }
  &__content {
    display: grid;
    justify-content: center;
    text-align: center;
    &-header {
      &-title {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    &-temp {
      position: relative;
      &-icon {
        position: absolute;
        top: 1%;
        right: 27%;
        width: 16px;
      }
    }
    &-main-weather {
      display: grid;
      position: relative;
      justify-content: center;
      text-align: left;
      &-list {
        &-item {
          margin-bottom: 5px;
        }
      }
    }
  }
}
