@import '../../../../assets/settings/colors';

.sidenav {
  &__toolbar {
    background-color: $black;
    position: sticky;
    top: 0;
  }
  &__profile {
    padding: 20px 30px 20px 5px;
    &__photo {
      width: 50px;
    }
    &__user {
      &-title {
        user-select: none;
        font-size: 20px;
      }
      &-subtitle {
        user-select: none;
        font-size: 14px;
      }
    }
    &__list {
      display: flex;
      &-item {
        display: grid;
        padding-left: 10px;
      }
    }
    &-mat-list-item-content {
      padding: 0 55px !important;
    }
  }
  &__toggle {
    background-color: $white
  }
  &__list {
    &-item {
      outline: none;
      cursor: pointer;
      user-select: none;
      transition: background-color .4s;
      justify-content: flex-start !important;
      &:hover {
        background-color: $light-purple;
      }
    }
  }
}
._collapse {
  .sidenav {
    left: 65px;
    width: 100px;
    visibility: visible !important;
    &__profile {
      display: flex;
      justify-content: flex-end;
      padding: 15px 7px;
      &__photo {
        width: 30px;
      }
      &__user {
        &-title {
          font-size: 20px;
        }
        &-subtitle {
          font-size: 14px;
        }
      }
      &__list {
        display: flex;
        align-items: center;
        &-item {
          display: grid;
        }
      }
    }
    &__content {
      padding-left: 65px;
    }
  }
  .mat-list-item {
    justify-content: flex-end !important;
  }
}
.mat-list-base .mat-list-item {
  display: flex;
  justify-content: center;
}
.active-link {
  background-color: $light-purple;
}

