<mat-sidenav-container [ngClass]="{'_collapse' : isCollapsed}"
                       class="container"
                       fullscreen>
  <mat-sidenav class="sidenav"
               #drawer
               mode='side'
               opened
               role="navigation">
    <div class="sidenav__profile">
      <ul class="sidenav__profile__list">
        <li class="sidenav__profile__list-item">
          <img class="sidenav__profile__photo"
               src="assets/img/profile-photos/profile_photo_3.png"
               alt="profile-photo">
        </li>
        <li class="sidenav__profile__list-item">
          <span *ngIf="!isCollapsed"
                class="sidenav__profile__user-title">Nikita Sufranovich</span>
          <span *ngIf="!isCollapsed"
                class="sidenav__profile__user-subtitle">Junior Frontend Dev</span>
        </li>
      </ul>
    </div>
    <mat-list class="sidenav__list">
      <mat-list-item class="sidenav__list-item"
                     title="About me"
                     routerLink='/user-info'
                     routerLinkActive='active-link'>
        <mat-icon matListIcon>face</mat-icon>
        <span *ngIf="!isCollapsed">About me</span>
      </mat-list-item>
      <mat-list-item class="sidenav__list-item"
                     title="Career"
                     routerLink='/career-info'
                     routerLinkActive='active-link'>
        <mat-icon matListIcon>card_travel</mat-icon>
        <span *ngIf="!isCollapsed">Career</span>
      </mat-list-item>
      <mat-list-item class="sidenav__list-item"
                     title="Technologies"
                     routerLink='/technologies'
                     routerLinkActive='active-link'>
        <mat-icon matListIcon>code</mat-icon>
        <span *ngIf="!isCollapsed">Technologies</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content">
    <mat-toolbar class="sidenav__toolbar">
      <button class="sidenav__toggle"
              type="button"
              title="Свернуть/Развернуть"
              mat-mini-fab
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle();
            isCollapsed = !isCollapsed">
        <i *ngIf="isCollapsed"
           class="material-icons">keyboard_arrow_right</i>
        <i *ngIf="!isCollapsed"
           class="material-icons">keyboard_arrow_left</i>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
