<div class="s-career-info">
  <mat-card class="s-career-info__wrapper">
    <ul class="s-career-info__content-list">
      <li *ngFor="let item of projects"
          class="s-career-info__content-list-item">
        <span class="s-career-info__content-descript">Project</span>
        <img class="s-career-info__content-photo"
             src="{{item.img}}"
             alt="registration-form">
        <span>GitHub link:
          <a target="_blank"
             href="https://github.com/nikitaSufranovichJS/nikita_rep.git">{{item.githubUrl}}</a>
        </span>
        <ul>
          <li class="s-career-info__content-list-item">
            <i class="material-icons">check</i>{{item.description}}
          </li>
        </ul>
      </li>
    </ul>
  </mat-card>
</div>
