@import 'src/assets/settings/colors';

.s-career-info {
  padding: 30px 20px;
  &__wrapper {
    position: initial;
  }
  &__content {
    width: 100%;
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      &-item {
        display: grid;
        text-align: center;
        justify-content: center;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-photo {
      width: 450px;
      margin: 0 auto;
    }
    &-descript {
      font-size: 25px;
      margin-bottom: 20px;
      &-list {
        text-align: left;
        margin-bottom: 30px;
        &-item {
          font-size: 18px;
        }
      }
    }
  }
}

