<div class="s-user-info">
  <ul class="s-user-info__list">
    <li class="s-user-info__list-item">
      <div class="s-user-info__profile-preview">
        <img class="s-user-info__profile-preview-photo"
             src="/assets/img/profile-photos/profile_photo_3.png"
             alt="profile-photo">
        <h1 class="s-user-info__profile-preview-title">Никита Суфранович</h1>
        <span class="s-user-info__profile-preview-subtitle">21 год Минск, Беларусь</span>
        <span class="s-user-info__profile-preview-title">Projects</span>
        <ul class="s-user-info__profile-preview-projects-list">
          <li class="s-user-info__profile-preview-projects-list-item">
            <span class="s-user-info__profile-preview-projects-list-item-title">3</span>
            <span class="s-user-info__profile-preview-projects-list-item-subtitle">Finished</span>
          </li>
          <li class="s-user-info__profile-preview-projects-list-item">
            <span class="s-user-info__profile-preview-projects-list-item-title">1</span>
            <span class="s-user-info__profile-preview-projects-list-item-subtitle">In Progress</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="s-user-info__list-item">
      <div class="s-user-info__profile-descript">

        <ul *ngFor="let item of userInfo"
            class="s-user-info__profile-descript-list">
          <li class="s-user-info__profile-descript-list-item">
            <i class="material-icons _list_icon">assignment_ind</i>
            <span class="s-user-info__profile-descript-list-item-title">Full name</span>
            <span class="s-user-info__profile-descript-list-item-desc">{{item.fullName}}</span>
          </li>
          <li class="s-user-info__profile-descript-list-item">
            <i class="material-icons _list_icon">work_outline</i>
            <span class="s-user-info__profile-descript-list-item-title">Position</span>
            <span class="s-user-info__profile-descript-list-item-desc">{{item.position}}</span>
          </li>
          <li class="s-user-info__profile-descript-list-item">
            <i class="material-icons _list_icon">calendar_today</i>
            <span class="s-user-info__profile-descript-list-item-title">Date of birth</span>
            <span class="s-user-info__profile-descript-list-item-desc">{{item.dateOfBirth}}</span>
          </li>
          <li class="s-user-info__profile-descript-list-item">
            <i class="material-icons _list_icon">home</i>
            <span class="s-user-info__profile-descript-list-item-title">Address</span>
            <span class="s-user-info__profile-descript-list-item-desc">{{item.address}}</span>
          </li>
        </ul>

      </div>
      <div class="s-user-info__profile-descript-reviews">
        <span class="s-user-info__profile-descript-title">Firebase comments</span>
        <ul class="s-user-info__profile-descript-reviews-list">
          <li *ngFor="let item of firebaseComments"
              class="s-user-info__profile-descript-reviews-list-item">
            <img class="s-user-info__profile-descript-reviews-list-item-photo"
                 src="{{item.img}}"
                 alt="profile-photo">
            <span class="s-user-info__profile-descript-reviews-list-item-title">{{item.nickname}}</span>
            <span class="s-user-info__profile-descript-reviews-list-item-subtitle">{{item.position}}</span>
            <span class="s-user-info__profile-descript-reviews-list-item-message">{{item.message}}</span>
          </li>
        </ul>
        <mat-divider></mat-divider>
        <br>
        <ul class="s-user-info__profile-descript-reviews-list">
          <li *ngFor="let item of usersComments"
              class="s-user-info__profile-descript-reviews-list-item">
            <img class="s-user-info__profile-descript-reviews-list-item-photo"
                 src="{{item.img}}"
                 alt="profile-photo">
            <span class="s-user-info__profile-descript-reviews-list-item-title">{{item.nickname}}</span>
            <span class="s-user-info__profile-descript-reviews-list-item-subtitle">{{item.position}}</span>
            <span class="s-user-info__profile-descript-reviews-list-item-message">{{item.message}}</span>
          </li>
        </ul>
        <mat-expansion-panel title="Добавить комментарий">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Add new comment</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form #myForm="ngForm"
                (ngSubmit)="addComment.emit(); myForm.reset()">
            <ul class="expansion-panel__input-list">
              <li class="expansion-panel__input-list-item">
                <label>Name
                  <input type="text"
                         class="expansion-panel__input"
                         placeholder="Your name"
                         name="name"
                         minlength="1"
                         required
                         [(ngModel)]="MessageData.name">
                </label>
              </li>
              <li class="expansion-panel__input-list-item">
                <label>Position
                  <input type="text"
                         class="expansion-panel__input"
                         placeholder="Your position"
                         name="position"
                         minlength="1"
                         required
                         [(ngModel)]="MessageData.position">
                </label>
              </li>
            </ul>
            <label>Your comment
              <input type="text"
                     class="expansion-panel__message"
                     placeholder="Write a comment..."
                     name="message"
                     minlength="1"
                     required
                     [(ngModel)]="MessageData.text">
            </label>
            <button [disabled]="myForm.form.invalid"
                    type="submit"
                    class="expansion-panel__button"
                    mat-raised-button>Send
            </button>
          </form>
        </mat-expansion-panel>
      </div>
    </li>
  </ul>
</div>

