@import 'src/assets/settings/colors';

.s-user-info {
  padding: 30px 20px;
  &__list {
    width: 100%;
    display: flex;
    &-item {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
        width: 950px;
      }
    }
  }
  &__profile {
    &-preview {
      display: grid;
      text-align: center;
      padding: 40px 20px;
      background-color: $white;
      border-radius: 10px;
      box-shadow: 8px 11px 19px -14px $black;
      &-photo {
        width: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
      &-title {
        color: $black;
        font-size: 20px;
      }
      &-subtitle {
        color: $black;
        font-size: 14px;
        margin-bottom: 30px;
      }
      &-projects-list {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        &-item {
          display: grid;
          &-title {
            font-size: 30px;
            font-weight: 800;
          }
          &-subtitle {
            font-size: 14px;
          }
        }
      }
    }
    &-descript {
      margin-bottom: 20px;
      &-title {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 8px 11px 13px -14px #434343;
        &-item {
          position: relative;
          display: grid;
          padding: 20px 30px;
          &-title {
            font-size: 18px;
            &:after {
              content: ":";
              position: absolute;
            }
          }
          &-desc {
            font-size: 14px;
          }
        }
      }
      .material-icons {
        position: absolute;
        top: 20px;
        color: $dark-purple;
      }
      &-reviews {
        width: 90%;
        word-break: break-word;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 8px 11px 13px -14px #434343;
        padding: 20px 30px;
        &-list {
          &-item {
            display: grid;
            margin-bottom: 30px;
            &-photo {
              width: 60px;
              border-radius: 50%;
            }
            &-title {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
              color: $dark-purple;
            }
            &-subtitle {
              font-size: 14px;
              color: $black;
              font-weight: 600;
              margin-bottom: 10px;
            }
            &-message {
              font-size: 14px;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}
.expansion-panel {
  &__message {
    width: 100%;
    height: 25px;
    outline: none;
    margin-bottom: 10px;
  }
  &__input {
    padding-left: 10px;
    outline: none;
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      &-item {
        padding: 20px 0;
      }
    }
  }
}

