<div class="s-technologies">
  <div class="s-technologies__container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of techno">
        <mat-expansion-panel-header>
          <mat-panel-title>{{item.title}}</mat-panel-title>
        </mat-expansion-panel-header>
        <span>{{item.description}}</span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
