@import 'src/assets/settings/colors';

.s-technologies {
  padding: 30px 20px;
  &__container {
    padding: 40px 20px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 8px 11px 19px -14px $black;
  }
}
