<s-user-info [usersComments]="userMessages"
             [MessageData]="messagesService.messageData"
             [firebaseComments]="firebaseComments"
             [userInfo]="userInfo"
             (addComment)="addComment()">
</s-user-info>
<weather-widget></weather-widget>

